numpy        
opencv-python      
pandas             
requests         
rsa      
scipy         
tensorflow       
termcolor     
urllib3   
Werkzeug    
asgiref
Django
gunicorn
psycopg2-binary
pytz
sqlparse
whitenoise   
